.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form > form > input {
  width: 300px;
  margin: 10px;
}

.login-form {
  background-image: url('../../images/bike-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
